*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000000;
    height:100vh;
}

.fixed{
    position: fixed;
    width:100vw;
    z-index: 2;
}

.hover-effect:hover{
    filter: brightness(150%);
}

                                                        /* header */

header{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    margin: 5px;
    top:0;
    padding-right:20px;
}

.right-side{
    display: flex;
    justify-content: flex-end;
}


.rounded-bg-grey{
    background-color: #4A4A4A;
    border-radius: 5px;
    margin: 0 5px;
    padding:5px;
    color:white;
}
.font-small{
    font-size: 12px;
}

                                                            /* main */

main{
    padding-top:50px;
    padding-bottom: 30px;
}

.main-container{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}


.profile-img{
    background-image: url(https://i.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA);
    width: calc(536px / 3);
    height: calc(354px / 3);
    background-size: cover;
    margin:5px 2px;
    position: relative;
}

.absolute-left-bottom{
    position: absolute;
    left:0;
    bottom: 0;
}

.bg-grey-transparent{
    background-color: rgba(50, 50, 50, 0.5);
    color:white;
    padding: 5px;
}


                                                            /* footer */

footer{
    bottom:0;
    background-color: #222222;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    color:white;
}

.mic-and-video{
    display: flex;
    width:10%;
}

.text-center{
    text-align:center;
}

.mic, .cam{
    margin: 0 5px;
}

.footer-icon{
    padding: 10px;
    font-size:20px;
}

.arrowhead-up{
    display: flex;
    align-items: center;
}

.user-action{
    display: flex;
    justify-content: space-around;
    gap:10px;
    width:50%;
}

.light-green{
    color:#4BC800;
}

.user-action, .mic-and-video{
    margin: 10px 0;
    flex-wrap: wrap;
}

.quit-button{
    background-color: #4A4A4A;
    padding-right: 10px;
    position: relative;
    width:15%;
}

.red{
    color:red;
}

.center-x-y{
	position:absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}