*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000000;
}

                                                        /* header */

header{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    margin: 5px;
}

.right-side{
    display: flex;
    justify-content: flex-end;
}


.rounded-bg-grey{
    background-color: #4A4A4A;
    border-radius: 5px;
    margin: 0 5px;
    padding:5px;
    color:white;
}
.rounded-bg-grey > span{
    font-size: 14px;
}

/* main */

